@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .v-table-cell-wrapper {
    white-space: normal;
    }

    .v-table-header {
    color: 		#89CFF0;
    background: #006400;
    font-weight: bold;
    text-align: center;
  }

  .v-table {
    background: #99afff;
  }

  .v-table-row:hover{
    color:#FF3355;
    background: #FFFFFF;
  }

  .v-table-row-odd:hover {
    color: #fff;
    background: #93B81D;
}

.v-icon{
font-size:40px;
  }
  .v-logo{
  color:#ffffff;
}

.v-table-resizer {
  display: none;
}

.panelcolor {
background:#cfff87;
}

.v-splitpanel-hsplitter-mainramhsplitpanel,
.v-splitpanel-hsplitter-mainramhsplitpanel div  {
    width: 0px;
}

.v-button-buttonStyle {
font-size:30px;
color:green;
}

}

